{% extends 'base.html' %}

{% block style %}
  <style>
    .wid {
      width: 500px;
    }

    p {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    p span {
      grid-column: 1 / -1;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="wid">
  <form method="POST" enctype="multipart/form-data" style="width: 500px" class="mx-auto m-5 mb-3">
    <div class='mb-4'>
      <h3>게임생성</h3>
    </div>
    {% csrf_token %}
    <div class="form-group">
      <label for="option1">Option 1:</label>
      <input type="text" name="option1" required class="form-control">
    </div>
    <div class="form-group">
      <label for="image1">Option 1 - image:</label>
      <input type="file" name="image1" required class="form-control">
    </div>
    <div class="form-group">
      <label for="option2">Option 2:</label>
      <input type="text" name="option2" required class="form-control">
    </div>
    <div class="form-group">
      <label for="image2">Option 2 - image:</label>
      <input type="file" name="image2" required class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-secondary d-block w-100 mt-4">게임 생성</button>
  </form>
</div>
{% endblock %}