{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block content %}

<h1 class="mt-1">Detail</h1>

<a class="btn btn-outline-secondary" href="{% url 'posts:index' %}" role="button">HOME</a>

<p>게시글 작성자 -
    <a href="{% url 'accounts:profile' post.user.username %}">
    {{ post.user }}</a></p>
  <p>
    게시글 번호 -
    {{ post.pk }}
  </p>
  
  <form method="POST">
    {% csrf_token %}

    <div class='container'>
      <h2 class='text-align-center'>
        {{ post.option1 }} vs {{ post.option2 }}
      </h2>
      <div class='d-flex justfy-content-center gap-3 px-auto'>
        <div class="card" style="width: 18rem;">
          <img src="{{ post.image1.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <button type="submit" name="answer" value="{{ post.option1 }}" {% if post.selected_option == post.option1 %}disabled{% endif %}>
              {{ post.option1 }} ({{ post.option1_count }})
            </button>
          </div>
        </div>
    
        <div class="card" style="width: 18rem;">
          <img src="{{ post.image2.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <button type="submit" name="answer" value="{{ post.option2 }}" {% if post.selected_option == post.option2 %}disabled{% endif %}>
              {{ post.option2 }} ({{ post.option2_count }})
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<hr>
<form action="{% url 'posts:comment_create' post.pk %}" method="post">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <input type="submit" value="댓글 작성">
</form>
<hr>

{% for comment in comments %}
  <div>
    <p>댓글 작성자 -
      <a href="{% url 'accounts:profile' comment.user.username %}">
        {{comment.user}}</a></p>
    <p>댓글 번호 -
      {{ comment.pk }}</p>
    <p>
      댓글 내용 -
      {{comment.content}}
    </p>
    {% if comment.user == user %}
      <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글 삭제">
      </form>
    {% endif %}
  </div>
  <hr>
{% endfor %}


<script>
    // 이전에 선택한 버튼이 있는 경우, 해당 버튼의 value 값을 가져옵니다.
    var selectedValue = "{{ post.selected_option }}";
    var buttons = document.querySelectorAll('button[name="answer"]');
  
    // 모든 버튼을 돌면서
    buttons.forEach(function(button) {
      // 선택한 버튼이 이미 선택된 버튼이면
      if (selectedValue == button.value) {
        // 모든 버튼을 disable 처리합니다.
        buttons.forEach(function(disableButton) {
          disableButton.disabled = true;
        });
  
        // 선택된 버튼만 enable 처리합니다.
        button.disabled = false;
      }
    });
</script>
{% endblock content %}