{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block content %}
<main class = "container">
  <h1 class="mt-1">밸런스 게임</h1>

<a class="btn btn-outline-secondary" href="{% url 'posts:index' %}" role="button">HOME</a>


<p>게시글 작성자 -
    <a href="{% url 'accounts:profile' post.user.username %}">
    {{ post.user }}</a></p>
  <p>
    게시글 번호 -
    {{ post.pk }}
  </p>
  
  <form method="POST">
    {% csrf_token %}

    <div class=''>
      <h2 class='text-align-center'>
        {{ post.option1 }} vs {{ post.option2 }}
      </h2>
      <div class='d-flex'>
        <div class="card" style="width: 18rem;">
          <img src="{{ post.image1.url }}" class="card-img-top" alt="" width="100" height="300">
          <div class="card-body mx-auto">
            <button type="submit" class="btn btn-outline-primary" name="answer" value="{{ post.option1 }}" {% if post.selected_option == post.option1 %}disabled{% endif %}>
              {{ post.option1 }} ({{ post.option1_count }})
            </button>
          </div>
        </div>
    
        <div class="card" style="width: 18rem;">
          <img src="{{ post.image2.url }}" class="card-img-top" alt="" width="100" height="300"> 
          <div class="card-body mx-auto">
            <button type="submit" class="btn btn-outline-primary" name="answer" value="{{ post.option2 }}" {% if post.selected_option == post.option2 %}disabled{% endif %}>
              {{ post.option2 }} ({{ post.option2_count }})
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      공유하기
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">공유하기</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class ="mx-auto">
              <a class='btn btn-outline-primary' href="https://www.facebook.com">페이스북</a>
              <a class='btn btn-outline-danger' href="https://www.instagram.com">인스타그램</a>
              <a class='btn btn-outline-secondary' href="https://twitter.com/">트위터</a>
              
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>

  



<hr>
<form action="{% url 'posts:comment_create' post.pk %}" method="post">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <input type="submit" class="btn btn-outline-warning" value="댓글 작성">
</form>
<hr>

{% for comment in comments %}
  <div>
    <p>댓글 작성자 -
      <a href="{% url 'accounts:profile' comment.user.username %}">
        {{comment.user}}</a></p>
    <p>댓글 번호 -
      {{ comment.pk }}</p>
    <p>
      댓글 내용 -
      {{comment.content}}
    </p>
    {% if comment.user == user %}
      <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-danger" value="댓글 삭제">
      </form>
    {% endif %}
  </div>
  <hr>
{% endfor %}
</main>


<script>
    // 이전에 선택한 버튼이 있는 경우, 해당 버튼의 value 값을 가져옵니다.
    var selectedValue = "{{ post.selected_option }}";
    var buttons = document.querySelectorAll('button[name="answer"]');
  
    // 모든 버튼을 돌면서
    buttons.forEach(function(button) {
      // 선택한 버튼이 이미 선택된 버튼이면
      if (selectedValue == button.value) {
        // 모든 버튼을 disable 처리합니다.
        buttons.forEach(function(disableButton) {
          disableButton.disabled = true;
        });
  
        // 선택된 버튼만 enable 처리합니다.
        button.disabled = false;
      }
    });
</script>
{% endblock content %}