{% extends 'base.html' %}

{% block style %}
  <style>
    .wid {
      width: 500px;
    }

    p {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    p span {
      grid-column: 1 / -1;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="wid">
  <form method="POST" enctype="multipart/form-data" style="width: 500px" class="mx-auto m-5 mb-3">
    <div class='mb-4'>
      <h3>게임 수정</h3>
    </div>
    {% csrf_token %}
    {% for field in form %}
      <div class='mb-3'>
        <div>{{ field.label }}</div>
        <div>{{ field }}</div>
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-outline-secondary d-block w-100 mt-4">게임 수정</button>
  </form>
</div>
{% endblock %}